* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font", sans-serif;
    font-size: 13px;
}

window#waybar {
    background: rgba(0, 0, 0, 0.5); 
    border-radius: 15px;           
    border: 2px solid rgba(255, 255, 255, 0.1); 
    color: #ffffff;
}

#workspaces button {
    padding: 0 5px;
    border-radius: 10px; 
    margin: 3px;
}

#workspaces button.active {
    border-bottom: 2px solid #ffffff;
}

#network {
    color: #00ffff; 
    padding: 0 10px;
}

#network.disconnected {
    color: #f53c3c; 
}

#clock {
    padding: 0 5px;
    background-color: transparent;
    color: #ffffff; 
}

#battery, #network, #pulseaudio, #tray {
    padding: 0 10px;
    background-color: transparent; 
    color: #ffffff;
}

#battery.critical {
    color: #ff0000;
}

#mpris {
    color: #1DB954;
    font-weight: bold;
    padding: 0 15px;
}

#custom-power {
    color: #f53c3c;
    padding: 0 15px;
    font-size: 18px;
}


#custom-recorder {
    padding-right: 5px;
    padding-left: 5px;
    font-size: 18px;
}
